In [1]:
run __init__.py

server locationlocal
running from: Local

In [2]:
# from keras.utils import get_file
import pandas as pd
import numpy as np
from joblib import load, dump
from finnhub_api import Finnhub
from datetime_util import timestamp2datetime, str2date, str2datetime
from project import Project

In [3]:
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
p = Project("2021-05-29", "2021-05-30", "AAPL", True, newsapi=False, finnhub=False, stocknews=True).run()

In [7]:
p.head()

,date,source,articles,negative,neutral,positive,compound,sentiment,negative,positive
0,2021-05-30 05:51:00,The Motley Fool,returns returns founded brothers tom david gar...,0.050,0.818,0.132,0.9957,positive,0.017165,0.982835
1,2021-05-29 12:02:19,CNBC,early automotive manufacturers suppliers exci...,0.017,0.818,0.165,0.9991,positive,0.000510,0.999490
2,2021-05-31 09:30:48,Fox Business,quotes delayed least minutes real time quotes ...,0.057,0.869,0.074,0.7184,positive,0.002255,0.997745
3,2021-05-31 10:36:00,Reuters,general view working session finance minister...,0.055,0.750,0.195,0.9966,positive,0.000631,0.999369
4,2021-05-31 08:30:00,Forbes,trader signals offer standard poors stock inde...,0.049,0.783,0.168,0.9961,positive,0.002214,0.997785

In [647]:
p.to_csv('./data/test.csv', index=0)

In [648]:
xx=pd.read_csv('./data/test.csv')

In [234]:
df = p.copy()

In [238]:
df.set_index('date', inplace=True)

In [244]:
df.loc['2021-05-30']

,source,articles,negative,neutral,positive,compound,sentiment,negative,positive
date,,,,,,,,,
2021-05-30 05:51:00,The Motley Fool,returns returns founded brothers tom david gar...,0.050,0.818,0.132,0.9957,positive,0.017165,0.982835
2021-05-30 05:58:59,Fox Business,quotes delayed least minutes real time quotes ...,0.020,0.877,0.104,0.9705,positive,0.005062,0.994938
2021-05-30 06:30:00,Kiplinger,getty images memorial day traditional start su...,0.013,0.876,0.112,0.9423,positive,0.000715,0.999285
2021-05-30 07:50:19,GuruFocus,dow jones industrial average closed friday gai...,0.053,0.622,0.325,0.9953,positive,0.002167,0.997833
2021-05-30 05:15:00,The Motley Fool,returns returns founded brothers tom david gar...,0.031,0.752,0.217,0.9972,positive,0.014240,0.985760
2021-05-30 18:37:00,Barrons,copy personal non commercial use only order pr...,0.063,0.812,0.125,0.9818,positive,0.002809,0.997191

In [ ]:
df.int

## Stock Market TimeSeries

In [12]:
finnhub_key = load('./finnhub/finnhub_key.pkl', 'rb')

In [14]:
from datetime import datetime

In [18]:
fin_5m = Finnhub(finnhub_key, "2021-05-01", "2021-05-31", "AAPL")
aapl_5m = fin_5m.stock_candles("5")

hist_cols = ['close', 'high', 'low', 'open', 'status','date', 'volume']
aapl_5m_df = pd.DataFrame(aapl_5m)
aapl_5m_df.columns = hist_cols
aapl_5m_df['date'] = aapl_5m_df['date'].apply(lambda x: timestamp2datetime(x))
aapl_5m_df['date'] = pd.to_datetime(aapl_5m_df['date'], format='%Y-%m-%d %H:%M:%S')#.dt.normalize()
aapl_5m_df.set_index('date', inplace=True)

In [19]:
aapl_5m_df.to_csv('./data/apple_5m.csv',index=True)

In [29]:
aapl_5m_df = pd.read_csv('./data/apple_5m.csv', parse_dates=['date'], date_parser=str2datetime)
aapl_5m_df.set_index('date', inplace=True)

In [30]:
aapl_5m_df.head()

                      close    high     low    open status  volume
date
2021-05-03 04:00:00  132.03  132.25  131.84  131.90     ok    8596
2021-05-03 04:05:00  132.15  132.20  131.99  132.00     ok    5129
2021-05-03 04:10:00  132.09  132.30  132.09  132.16     ok    6317
2021-05-03 04:15:00  132.09  132.20  132.09  132.14     ok   22946
2021-05-03 04:20:00  131.96  132.04  131.92  132.03     ok    4739

In [31]:
aapl_5m_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3133 entries, 2021-05-03 04:00:00 to 2021-05-28 19:55:00
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   close   3133 non-null   float64
 1   high    3133 non-null   float64
 2   low     3133 non-null   float64
 3   open    3133 non-null   float64
 4   status  3133 non-null   object
 5   volume  3133 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 171.3+ KB

In [69]:
date = pd.to_datetime("2021-05-28")

In [70]:
aapl_5m_df[(aapl_5m_df.index.date == date)]

                      close    high     low    open status  volume
date
2021-05-28 04:00:00  126.00  126.10  126.00  126.04     ok    4272
2021-05-28 04:05:00  126.15  126.15  126.08  126.08     ok     830
2021-05-28 04:25:00  126.15  126.15  126.15  126.15     ok     853
2021-05-28 04:50:00  126.18  126.18  126.18  126.18     ok     442
2021-05-28 05:20:00  126.22  126.22  126.17  126.19     ok    1640
...                     ...     ...     ...     ...    ...     ...
2021-05-28 19:30:00  124.67  124.67  124.65  124.65     ok    3568
2021-05-28 19:35:00  124.66  124.66  124.65  124.66     ok    1877
2021-05-28 19:40:00  124.65  124.66  124.65  124.66     ok    1663
2021-05-28 19:50:00  124.64  124.65  124.62  124.64     ok    8903
2021-05-28 19:55:00  124.63  124.65  124.61  124.64     ok    7263

[155 rows x 6 columns]

In [71]:
aapl_5m_df.loc[aapl_5m_df.index.date == date,['close']].resample("5T").asfreq()

                      close
date
2021-05-28 04:00:00  126.00
2021-05-28 04:05:00  126.15
2021-05-28 04:10:00     nan
2021-05-28 04:15:00     nan
2021-05-28 04:20:00     nan
...                     ...
2021-05-28 19:35:00  124.66
2021-05-28 19:40:00  124.65
2021-05-28 19:45:00     nan
2021-05-28 19:50:00  124.64
2021-05-28 19:55:00  124.63

[192 rows x 1 columns]

In [13]:
d1

Empty DataFrame
Columns: [close]
Index: []

In [7]:
ser = pd.Series([1., 2., np.nan])

In [8]:
ser.isnull()

0    False
1    False
2    False
dtype: bool

In [9]:
ser.fillna(method='ffill')

0    1.0
1    2.0
2    nan
dtype: float64

In [10]:
pd.isna(ser)

0    False
1    False
2    False
dtype: bool

In [11]:
ser.dropna()

0    1.0
1    2.0
2    nan
dtype: float64

In [577]:
def plot_ts(df, features, date, window):
    
    date = pd.to_datetime(date)#.normalize()
    df_origin    = df.loc[df.index.date == date,[features]]
    df_roll_mean = df_origin.rolling(window).mean()
    
    return df_roll_mean

In [578]:
plot_ts(aapl_5m_df, 'close', "2021-05-28", 7)

                          close
date
2021-05-28 04:00:00         nan
2021-05-28 04:05:00         nan
2021-05-28 04:25:00         nan
2021-05-28 04:50:00         nan
2021-05-28 05:20:00         nan
...                         ...
2021-05-28 19:30:00  124.655714
2021-05-28 19:35:00  124.650000
2021-05-28 19:40:00  124.650000
2021-05-28 19:50:00  124.647143
2021-05-28 19:55:00  124.647143

[155 rows x 1 columns]

In [ ]:
rm = apple_hist_df['close'].rolling(30).mean()
rs = apple_hist_df['close'].rolling(30).std()

#plot close price
fig, ax = plt.subplots(figsize=(12,5))
# plt.figure(figsize=(10,6))
plt.grid(False)
plt.xlabel('Dates')
plt.ylabel('Close Prices')
ax.set_title("Apple Closing Price")
plt.xticks(rotation=45)
plt.plot(apple_hist_df['close'], color='b')
plt.plot(rm, color='r')
plt.plot(rs, color='g')
plt.show()